.app-matrix__car-details {
  font-family: sans-serif;
  min-width: 600px;
  text-align: center;
}

.app-matrix__car-details-category {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.app-matrix__car-details-title {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.app-matrix__car-details-description {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  height: 150px;
}

.app-matrix__car-details-stats {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.app-matrix__car-details-impact {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.app-matrix__car-details_titled {
  font-weight: 600;
}